:root {
    --primary-color: #4084b4;
    --dark-color: #171d24;
    --nav-link: #224761;
}

.custom-font-family {
    font-family: "Montserrat";
    font-weight: bolder;
}

.custom-bg-sidebar {
    background-color: #171d24;
    /* background: transparent; */
}

.custom-color {
    color: #4084b4;
}

.border-bottom {
    border-bottom: 2px solid #4084b4;
}

.width-30 {
    width: 20vw;
    z-index: 0;
}

.custom-bg-admin {
    /* background-image: url("https://images.pexels.com/photos/355872/pexels-photo-355872.jpeg"); */
    background-image: url("https://images.pexels.com/photos/7412072/pexels-photo-7412072.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 80vh;
}

.card-width {
    max-width: 18rem;
}

.card-manual-width {
    max-width: 25rem;
}

.user-table {
    overflow-x: scroll;
}

.user-table {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.user-table::-webkit-scrollbar {
    width: 8px;
}

.user-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.user-table::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the scrollbar thumb */
    border: 2px solid #f1f1f1;
    /* Optional: adds space around thumb */
}