:root {
    --primary-color: #4084b4;
    --dark-color: #171d24;
    --nav-link: #224761;
}

.custom-font-family {
    font-family: "Montserrat";
    font-weight: bolder;
}

.custom-bg-sidebar {
    background-color: #4084b4;
}

.custom-color {
    color: #171d24;
    border-bottom: 2px solid #171d24;
}

.width-30 {
    width: 20vw;
    z-index: 0;
}