.fabrication-bg {
    /* background-image: url("https://images.pexels.com/photos/7819764/pexels-photo-7819764.jpeg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}